/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #070707;
  font-family: 'Courier New', Courier, monospace;
  color:#ffffff;
}

.shadow {
  width: 300px;
  display: inline-flex;
}
#mypic {
  width: 500px;
}

h1,h2,h3,h4,h5 {
  font-family:'courier new', courier, monospace;
  text-shadow: #ffffff 0px 0px 10PX;
  color: #0f0000;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

h3, h4 {
  font-size: 150%;
  text-align: center;
  padding: 20px;
  border-style: inset;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
  background-color: #000000;
  background: linear-gradient(to bottom, #450808, #dd1d1d);
}

.blinkies {
  border-style: inset;
  border-radius: 10px;
  background-color: #0c0000;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;;
  margin: 5px;
  padding: 10x;
  border: inset 1px #f00b0b;
  border-radius: 10px;
  background-image: url(https://i.pinimg.com/736x/13/56/e6/1356e68cf40ffb2a10cd31c1dad9030d.jpg);
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.major-section {
  display:inline-flex;
}
.minor-section { 
  width: 670px;
  padding: 5px;
  margin-bottom: 20px;
  border:solid 3px #000000;
  border-style:inherit;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  font-size: large;
}


.assignments {
  width: auto;
  border: solid 10px #000000;
  padding: 20px;
  margin: 5px;
  border: solid 10px #000000;
  border-style:inherit; 
  border-radius: 10px;
}

#vinyl-gallery * {
  all: unset;
}

#vinyl-gallery {
  all: initial!important;
  width: 100%!important;
  height: 230px!important;
  margin: 30px 0!important;
  display: flex!important;
  flex-direction: row!important;
  position: relative!important;
  margin-left: -6px!important;
}

#vinyl-gallery .vinyl {
    all:unset!important;
  perspective: 500px !important;
  width: 18px!important;
  transition: width 0.5s!important;
}

#vinyl-gallery .vinyl:hover {
  width: 148px!important;
}

#vinyl-gallery img {
    all:unset!important;
  transition: transform 0.5s, width 0.5s, height 0.5s, margin-top 0.5s!important;
  width: 180px!important;
  height: 180px!important;
  transform: rotateX(0deg) rotateY(25deg)!important;
  transform-style: preserve-3d!important;
  border-radius: 4px!important;
  border: 2px solid rgba(0, 0, 0, 0.1)!important;
object-fit: cover!important;
}

#vinyl-gallery .vinyl:hover img {
  transform: rotateX(0deg) rotateY(10deg)!important;
  width: 188px!important;
  height: 188px!important;
  margin-top: -2px!important;
}

#vinyl-gallery .title {
  color: #000000;
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  padding-left: 6px;
}

#vinyl-gallery .vinyl:nth-child(n):hover + .title {
  visibility: visible;
}

  @keyframes flying-sonic{
    from{ left:-400px; }
    to{ left:calc(100% + 20px); }
  }
  
  #sonic-gif{
    position: fixed;
    left: -400px;
    top: 500px;
    width: 500px;
    animation: flying-sonic 7s infinite linear;
    pointer-events: none;
  }

  #cc{
    float:right;
    max-height: 250px;
    position: fixed;
    right: 1px;
    bottom: 0px;
    z-index: 400;
  }