/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  width:95%;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #050000;
  background-color: #0f0c00;
  }
img {
  width: 800px;
}
.images {
  font-family: 'Courier New', Courier, monospace
  ;
}